node_modules
.next
dist
coverage
playwright-report
test-results

.env.local
.env*.local

.DS_Store
*.log

.turbo

# Lighthouse CI local reports
.lighthouseci/

# TypeScript build info
tsconfig.tsbuildinfo

*storybook.log
storybook-static
